# build output
dist/

# generated types
.astro/

.bolt/

# dependencies
node_modules/


# environment variables
.env.local
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
